In [3]:
import pandas as pd

In [4]:
file_path_1 = "infracoes_2023.csv"
file_path_2 = "infracoes_2024.csv"
file_path_3 = "infracoes_2025.csv"

In [5]:
df_1 = pd.read_csv(file_path_1, sep=';')
df_2 = pd.read_csv(file_path_2, sep=';')
df_3 = pd.read_csv(file_path_3, sep=';')

C:\Users\zovka\AppData\Local\Temp\ipykernel_5640\3416903333.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3 = pd.read_csv(file_path_3, sep=';')

Esse erro apareceu então identificamos qual a coluna e o que estava ocorrendo nela

In [11]:
for i, col in enumerate(df_3.columns):
    print(i, col)

0 datainfracao
1 horainfracao
2 dataimplantacao
3 agenteequipamento
4 infracao
5 descricaoinfracao
6 amparolegal
7 localcometimento

In [13]:
df_3['agenteequipamento'].unique()

array(['Código 8 - AUTOS NO TALÃO ELETRÔNICO',
       'Código 3 - LOMBADA ELETRÔNICA', 'Código 5 - FOTO SENSOR',
       'Código 9 - FAIXA AZUL', 'Código 7 - ZONA AZUL TALÃO ELETRÔNICO',
       nan], dtype=object)

Identificamos que era relacionado a  valores Nan

In [15]:
df_3['agenteequipamento'].isna().sum()

np.int64(62784)

In [16]:
df_3.isna().sum()

datainfracao             0
horainfracao             0
dataimplantacao          0
agenteequipamento    62784
infracao                 0
descricaoinfracao        0
amparolegal              0
localcometimento         0
dtype: int64

In [17]:
df_1.isna().sum()

datainfracao         0
horainfracao         0
dataimplantacao      0
agenteequipamento    0
infracao             0
descricaoinfracao    0
amparolegal          0
localcometimento     0
dtype: int64

In [18]:
df_2.isna().sum()

datainfracao         0
horainfracao         0
dataimplantacao      0
agenteequipamento    0
infracao             0
descricaoinfracao    0
amparolegal          0
localcometimento     0
dtype: int64

Como a única coluna  em relação aos 3 csvs que tinha valors nulos era essa , fez mais sentido manter essa coluna e susbtituir  as células "Nan" por "não informado"

In [8]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488728 entries, 0 to 488727
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   datainfracao       488728 non-null  object
 1   horainfracao       488728 non-null  object
 2   dataimplantacao    488728 non-null  object
 3   agenteequipamento  488728 non-null  object
 4   infracao           488728 non-null  int64
 5   descricaoinfracao  488728 non-null  object
 6   amparolegal        488728 non-null  object
 7   localcometimento   488728 non-null  object
dtypes: int64(1), object(7)
memory usage: 29.8+ MB

In [9]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404975 entries, 0 to 404974
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   datainfracao       404975 non-null  object
 1   horainfracao       404975 non-null  object
 2   dataimplantacao    404975 non-null  object
 3   agenteequipamento  404975 non-null  object
 4   infracao           404975 non-null  int64
 5   descricaoinfracao  404975 non-null  object
 6   amparolegal        404975 non-null  object
 7   localcometimento   404975 non-null  object
dtypes: int64(1), object(7)
memory usage: 24.7+ MB

In [10]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171109 entries, 0 to 171108
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   datainfracao       171109 non-null  object
 1   horainfracao       171109 non-null  object
 2   dataimplantacao    171109 non-null  object
 3   agenteequipamento  108325 non-null  object
 4   infracao           171109 non-null  int64
 5   descricaoinfracao  171109 non-null  object
 6   amparolegal        171109 non-null  object
 7   localcometimento   171109 non-null  object
dtypes: int64(1), object(7)
memory usage: 10.4+ MB

Como os três csv tinham o mesmo número de colunas e do mesmo tipo, tomamos a decisão de concatenar em um único dataframe e aplicar as transformações necessárias em cima dele.

In [ ]:
# Concatenação por linhas (empilhando)
dft = pd.concat([df_1, df_2, df_3], axis=0, ignore_index=True)

## Juntando as bases de dados

In [ ]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064812 entries, 0 to 1064811
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   datainfracao       1064812 non-null  object
 1   horainfracao       1064812 non-null  object
 2   dataimplantacao    1064812 non-null  object
 3   agenteequipamento  1002028 non-null  object
 4   infracao           1064812 non-null  int64
 5   descricaoinfracao  1064812 non-null  object
 6   amparolegal        1064812 non-null  object
 7   localcometimento   1064812 non-null  object
dtypes: int64(1), object(7)
memory usage: 65.0+ MB

In [ ]:
dft.to_csv("dataset_final.csv", index=False, sep=';')

In [23]:
df_1.head()

,datainfracao,horainfracao,dataimplantacao,agenteequipamento,infracao,descricaoinfracao,amparolegal,localcometimento
0,2023-01-01,00:01:00,2023-01-06,Código 8 - AUTOS NO TALÃO ELETRÔNICO,7234,Quando o veículo estiver em movimento deixar d...,"Art. 250, Inc. I, alínea a","RUA RIBEIRO DE BRITO, SOB O SEMAFORO N. 155 ..."
1,2023-01-01,00:27:00,2023-01-06,Código 8 - AUTOS NO TALÃO ELETRÔNICO,5835,Desobedecer às ordens emanadas da autoridade c...,Art. 195,"RUA DOS NAVEGANTES, CRUZAMENTO COM A RUA PADRE..."
2,2023-01-01,00:27:00,2023-01-06,Código 8 - AUTOS NO TALÃO ELETRÔNICO,5215,Dirigir ameaçando os pedestres que estejam atr...,Art. 170,"RUA DOS NAVEGANTES, CRUZAMENTO COM A RUA PADRE..."
3,2023-01-01,00:52:00,2023-01-06,Código 8 - AUTOS NO TALÃO ELETRÔNICO,5550,Estacionar o veículo em locais e horários proi...,"Art. 181, Inc. XVIII","AVENIDA ENGENHEIRO DOMINGOS FERREIRA, EM FRENT..."
4,2023-01-01,00:52:00,2023-01-06,Código 8 - AUTOS NO TALÃO ELETRÔNICO,5550,Estacionar o veículo em locais e horários proi...,"Art. 181, Inc. XVIII","AVENIDA ENGENHEIRO DOMINGOS FERREIRA, EM FRENT..."